<!DOCTYPE html>
<html lang="[[data.lang]]">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta name="description" content="[[product.description]]">
        <meta name="keywords" content="[[product.keywords]]">
        <meta name="author" content="">
        <meta property="og:title" content="[[product.title]]" />
		<meta property="og:type" content="product" />
		<meta property="og:image" content="[[product.photo]]" />
        <title>[[product.title]]</title>
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
        <!-- Vendor CSS -->
        <link href="/css/vendor/bootstrap.min.css" rel="stylesheet">
        <link href="/css/vendor/vendor.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/search.css" rel="stylesheet">       
        <!-- Custom font -->
        <link href="/fonts/icomoon/icons.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open%20Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="/css/header.css" rel="stylesheet"/>

    </head>
    <body class="has-smround-btns has-loader-bg equal-height" data-pageid="[[shoppiPageId]]">
    	<style>
    		.top_custom_nav {
    			color: #fff !important;
    			font-size: 13px !important;
    		}
    		.top_custom_nav {
    			text-decoration: none !important;
    		}
    		.mmenu > li > a {
    			font-size: 14px !important;
			    padding-right: 5px !important;
			    padding-left: 5px !important;
    		}
    	</style>
 		[[> header]]
 		
 		   	
<div class="page-content">
            <div class="holder breadcrumbs-wrap mt-0">
                <div class="container">
                    <ul class="breadcrumbs">
                        <li>[[product.category]]</li>
                        [[#keywords]]
                        <li><a href="/">[[.]]</a></li>
                        [[/keywords]]
                    </ul>
                        <div class="col">
                            <div class="js-prd-d-holder">
                                <div class="prd-block_title-wrap">
                                    <!-- <div class="prd-block_reviews" data-toggle="tooltip" data-placement="top" title="Scroll To Reviews"><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star"></i>
                                        <span class="reviews-link"><a href="#" class="js-reviews-link"> (17 reviews)</a></span>
                                    </div> -->
                                    <h1 class="prd-block_title">[[product.title]]</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-auto prd-block-prevnext-wrap">
                            <div class="prd-block-prevnext">
                              </div>
                        </div>
                    </div>
                    <div class="row prd-block prd-block--prv-bottom">
                        <div class="col-md-8 col-lg-8 col-xl-8 aside--sticky js-sticky-collision">
                            <div class="aside-content">
					<!-- Product Gallery -->
<div class="mb-2 js-prd-m-holder"></div>
<div class="prd-block_main-image">
	<div class="prd-block_main-image-holder" id="prdMainImage">
		<div class="product-main-carousel js-product-main-carousel" data-zoom-position="inner">
			<div data-value=""><span class="prd-img"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="[[product.photo_hires]]" class="lazyload fade-up elzoom" alt="" data-zoom-image="[[product.photo_hires]]"/></span></div>
				<div data-value=""><span class="prd-img"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="[[.]]" class="lazyload fade-up elzoom" alt="" data-zoom-image="[[.]]"/></span></div>
                        <div data-value=""><span class="prd-img"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="[[product.photo_hires]]" class="lazyload fade-up elzoom" alt="" data-zoom-image="[[product.photo_hires]]"/></span></div>
                        [[#product.photos]]
                                <div data-value=""><span class="prd-img"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="[[.]]" class="lazyload fade-up elzoom" alt="" data-zoom-image="[[.]]"/></span></div>
                        [[/product.photos]]
		</div>
</div>
<!-- /Product Gallery -->
</div>
                      </div>
                        
                        <div class="col-md-10 col-lg-10 col-xl-10 mt-1 mt-md-0">
                            <div class="prd-block_description prd-block_info_item ">
								<h3>Artikelbeschreibung</h3>
								<h4>[[product.code]]</h4>
                                <div class="prd-block_description">[[product.description]]</div>
                                <div class="prd-block_info-top prd-block_info_item order-0 order-md-2">
								<div class="prd-block_price prd-block_price--style2">
									<div class="prd-block_price--actual">[[product.price_format]]</div>
								</div>

							</div>
            <div class="order-0 order-md-100">
		<form method="post" action="#">

			<div class="prd-block_actions prd-block_actions--wishlist">
				<div class="prd-block_qty">
					<div class="qty qty-changer">
						<button class="decrease js-qty-button"></button>
						<input type="number" class="qty-input" name="quantity" value="1" data-min="1" data-max="1000">
						<button class="increase js-qty-button"></button>
					</div>
				</div>
				<div class="btn-wrap">
					<button onclick="addToCart(this);" class="btn btn--add-to-cart js-trigger-addtocart js-prd-addtocart" data-product="{&quot;id&quot;:  &quot;[[product.id]]&quot;, &quot;price&quot;:  &quot;[[product.price]]&quot;, &quot;name&quot;:  &quot;[[product.title]]&quot;,  &quot;url&quot;: &quot;[[product.link]]&quot;,  &quot;path&quot;: &quot;[[product.photo]]&quot;,  &quot;aspect_ratio &quot;: &quot;0.78&quot;}">Add to cart</button>
				</div>
				<div class="btn-wishlist-wrap">
					<a href="#" class="btn-add-to-wishlist ml-auto btn-add-to-wishlist--add js-add-wishlist" title="Add To Wishlist"><i class="icon-heart-stroke"></i></a>
					<a href="#" class="btn-add-to-wishlist ml-auto btn-add-to-wishlist--off js-remove-wishlist" title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
				</div>
			</div>
		</form>
	</div>                    
	<!--
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Available :</td>
                                            <td>1319</td>
                                        </tr>
                                        <tr>
                                            <td>Delivery Time :</td>
                                            <td>Immediately available</td>
                                        </tr>
                                        <tr>
                                            <td>Date of Delivery :</td>
                                            <td>09/30/2022</td>
                                        </tr>
                                        <tr>
                                            <td>MOQ :</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td>Type of Packaging :</td>
                                            <td>blister package (retail)</td>
                                        </tr>
                                        <tr>
                                            <td>Product Nature :</td>
                                            <td>Permanent Product</td>
                                        </tr>
                                        <tr>
                                            <td>Packaging unit(PU) :</td>
                                            <td>10</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                  -->                   

                        </div>
                    </div>
                </div>
            </div>
            <div class="holder mt-3 mt-md-5">
                <div class="container">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs product-tab">
                        <li class="nav-item"><a href="#Tab1" class="nav-link" data-toggle="tab">Beschreibung
                            <span class="toggle-arrow"><span></span><span></span></span>
                            </a>
                        </li>
                        <li class="nav-item"><a href="#Tab2" class="nav-link" data-toggle="tab">Lieferung
                            <span class="toggle-arrow"><span></span><span></span></span>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade" id="Tab1">
                            
                               [[product.content]]
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Tab2">
                            Wir liefern national und international mit DHL in 3-7 Tagen.
                        </div>
                    </div>

                    
                </div>

            
            
            </div>
        </div>
	    <script src="/js/cart.js"></script>   
	    	
[[> footer]]
